.players-score-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;

    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        position: relative;

        p:first-of-type {
            font-size: 1.5rem;
        }

        img {
            visibility: hidden;
            width: 80px;
            position: absolute;

            top: -50px;
            animation: crownRotating infinite .2s alternate linear;
        }

        img.animate {
            visibility: visible;
        }
    }
}

@keyframes crownRotating {
    0%, 49% {
        transform: rotate(-10deg);
    }

    51%, 100% {
        transform: rotate(10deg);
    }
}